<div class="card bg-light mt-4 mb-4">
    <div class="card-body">
        <form method="post" action="/post">
            <div class="form-grou row">
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="post">
                </div>
                <button type="submit" class="btn btn-success">发言</button>
            </div>
        </form>
    </div>
</div>